################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Cebraspe/.vs/Cebraspe/FileContentIndex/32775f0b-e54d-4791-accd-7e52186c6661.vsidx
/Cebraspe/.vs/Cebraspe/FileContentIndex/86cc96f0-103e-4193-9890-3044bddf9591.vsidx
/Cebraspe/.vs/Cebraspe/FileContentIndex/fed488ee-1aa3-464a-8551-b6e859ae8233.vsidx
